@page
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Blockquote
@using WTH.Training.Localization
@model WTH.Training.Web.Pages.Training.Certification.OrganisationsModel
@inject IStringLocalizer<TrainingResource> L

@{
}
<h1>Training</h1>
<p>@L["SamplePageMessage"]</p>
