@using WTH.Theme.Wetrainhub
@inject IThemeBrandingProvider BrandingProvider

<a href="/" class="d-flex align-items-center">
    <img src="@BrandingProvider.LogoUrl" alt="@BrandingProvider.AppName" class="h-25px h-lg-30px"/>
</a>