@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert

@model WTH.Theme.Wetrainhub.Layout.ThemeContentLayout

<div class="page-title d-flex flex-column align-items-start me-3 py-2 py-lg-0 gap-2">
    <h1 class="d-flex text-gray-900 fw-bold m-0 fs-3">
        @Model.Title
        <span class="h-20px border-gray-500 border-start mx-3"></span>
        <small class="text-gray-500 fs-7 fw-semibold my-1">@Model.Description</small>
    </h1>
</div>